360/ 
7-Zip/ 
AppCleaner/ 
ATI Technologies/ 
Aurora/ 
BaiduYunGuanjia/ 
Cppcheck/
Dict/
DTLSoft/ 
eclipse/ 
EndNote X6/
Evernote/
FileZilla FTP Client/
Foxit Software/
GIF动画制作/ 
GIMP 2/
Java/ 
Kingsoft/ 
KuGou/
MarkdownPad 2/
MathType/
MATLAB/
Microsoft*
Netease/ 
nodejs/
Notepad++/
PhotoStoryPlatinum3.5.0.12/ 
PotPlayer/
Proxifier/
SoftEther VPN Client/
Sublime Text 2.rar
Sublime Text 3_v1.2.rar
Subversion/
TeamViewer/ 
Tencent/
texlive/
Thunder Network/
TortoiseSVN/
TTKN/ 
UltraISO/ 
VMware/ 
VPI/
WinRAR/ 

